* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Consolas', monospace;
}

header {
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #000000;
}

header img {
    width: 32px;
    height: 32px;
    margin-right: 7px;
    margin-left: 7px;
}

main {
    padding: 3% 0% 0% 3%;
    display: flex;
}

main h1 {
    font-size: 32px;
}

main h2 {
    font-size: 16px;
    color: #AEAEAE
}

main img {
    padding: 0% 3% 0% 0%;
    width: 30%;
    height: 30%;
}

section {
    align-items: center;
    display: flex;
}

nav {
    padding: 5% 0% 0% 5%;
}

nav a {
    line-height: 2;
    display: block;
    text-decoration: none;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #F6F6F6;
}

nav a:hover::before {
    position: absolute;
    left: -38px;
    color: #aeaeae;
    content: "cd ";
}

p {
    padding: 10% 5% 10% 15%;
    font-size: 16px;
}